[Unit]
Description=Celery Beat for adweb
After=network.target redis-server.service

[Service]
Type=simple
User=timofey
Group=timofey
WorkingDirectory=/opt/adweb
Environment=DJANGO_SETTINGS_MODULE=adweb.settings
ExecStart=/opt/adweb/.venv/bin/celery -A adweb beat -l info
Restart=always

[Install]
WantedBy=multi-user.target
